{% extends '/admin/admin.html.twig' %}

{% block title "Create a new recipe : " %}

{% block body %}
    <h1>Create a new recipe :</h1>

    <div class="container">
        {{ form(form) }}
    </div>


{% endblock %}
