{% extends 'base.html.twig' %}

{% block title %}Recipe book!{% endblock %}

{% block body %}
    <h2>My recipes </h2>
    {% for recipe in recipes %}
        <a href="{{ path('recipe', { id: recipe.id }) }}"><h4>{{recipe.title}}</h4></a>
    {% endfor %}
{% endblock %}
